@import "./../../assets/partials/variables";

.users {
  padding: 8px;
  &-list {
    &__element {
      cursor: pointer;
      margin-bottom: 8px;
      &-username {
        display: flex;
        align-items: center;
        padding: 8px 4px;
        color: $color_dark;
        transition: background-color 500ms ease-in;
        &:hover {
          background: $color_gray2;
        }
      }
    }
  }
}
