@import "./../../assets/partials/variables";

.users {
  padding: 8px;
  &-list {
    &__element {
      cursor: pointer;
      &-avatar {
        transition: opacity 0.3s linear;
      }
      &_active & {
        &-username {
          background: $color_blue2;
        }
        &-avatar {
          background: $color_blue2;
        }
      }
      &-username {
        display: flex;
        align-items: center;
        padding: 8px 9px;
        color: $color_dark;
        transition: background-color 500ms ease-in;
        &:hover {
          background: $color_blue2;
        }
      }
    }
  }
}
